$font-size: 20px;
$background: red;
$color: green;
.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $background;
  color: $color;
  outline: none;
}
.hello-world-text {
  color: green;
  font-weight: bold;
}
